<p-splitter [style]="{ height: '100%', border: 'none' }">
  <ng-template pTemplate>
    <div class="conatiner w-100 pt-5">
      <div class="head">
        <div class="right pointer" (click)="back()">
          <span class="pointer">
            <em class="pi pi-arrow-left"></em>
          </span>
          <h4>{{ group.name }}</h4>
        </div>
        <div class="left"></div>
      </div>
      <div class="content">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
      </div>
    </div>
  </ng-template>
  <!-- <ng-template pTemplate> </ng-template> -->
</p-splitter>
