<div class="container-fluid">
  <div class="row vh-100">
    <div class="col-md-6 bg-gradient bg-black"></div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="text-center">
          <div class="logo-container mb-3">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRqlCqYwDHQNZoWirfwCcYl14quL0ilE0A1w&usqp=CAU"
              alt="logo"
              class="img-fluid"
            />
          </div>
          <div class="text-center mb-3">
            <h4>Bienvenu</h4>
            <p>Connectez-vous pour gérer votre vie et ne rien laisser passer</p>
          </div>
        </div>
        <span class="p-float-label mb-3">
          <input id="email" type="email" class="form-control" pInputText />
          <label for="email">E-mail</label>
        </span>
        <span class="p-float-label mb-3">
          <input
            id="password"
            type="password"
            class="form-control"
            pInputText
          />
          <label for="password">Mot de passe</label>
        </span>
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck" />
              <label class="form-check-label" for="gridCheck">
                Se souvenir
              </label>
            </div>
          </div>
          <div class="col-md-6 text-end mb-3">
            <a
              routerLink="/forgot-password"
              class="text-muted text-decoration-none"
              >Mot de passe oublié ?</a
            >
          </div>
        </div>
        <div class="text-center">
          <button
            pButton
            type="button"
            label="Créer un compte"
            (click)="login()"
            class="btn btn-custom m-2"
          ></button>
          <button
            pButton
            type="submit"
            label="Connexion"
            [loading]="loading"
            [disabled]="!loginForm.valid"
            class="btn btn-custom m-2"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>
