ul.nav-pills {
  li.nav-item {
    a {
      color: var(--light);
    }
    a.active {
      color: var(--primary);
      background-color: transparent !important;
    }
    a:hover {
      cursor: pointer;
      color: #616161;
    }
  }
}
