/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

:root {
  --primary: #8c034e;
  --mustard: #f29f05;
  --orange: #d95204;
  --white: #f1f1f1;
  --light: #d9d9d9;
  --blue: #03318c;
  --dark: #000;
}
.primary-color {
  color: var(--primary);
}
.primary-bg {
  background-color: var(--primary);
}
.mustard-color {
  color: var(--mustard);
}
.grey-bg {
  background-color: var(--light);
}
// SCROLLBAR
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

button.btn-custom {
  height: 40px;
  border-radius: 2px;
}

button.primary-bg {
  border: none;
  color: var(--white);
  background-color: var(--primary) !important;
}
button.primary-bg:hover {
  color: var(--white);
}

button.primary-bg:disabled {
  color: var(--light);
  background-color: var(--primary) !important;
}

button:focus:not(:focus-visible) {
  box-shadow: none;
}

button.grey-bg {
  color: var(--primary);
  background-color: var(--light);
  border: none;
}

button.grey-bg:hover {
  color: var(--primary) !important;
  background-color: var(--light) !important;
  border: none;
}

//INPUTS
.p-inputtext:enabled:focus {
  box-shadow: none !important;
}

// Layout
app-sidebar.col-light-menu {
  max-width: 50px !important;
  background-color: #ededed;
}

// NO FOCUS ON INPUTS
input:focus {
  box-shadow: none !important;
}

// LIST TASKS
div.simpleTask {
  ul.list-group {
    li {
      font-size: 14px;
      em {
        font-size: 12px;
      }
    }
  }
}

.pointer {
  cursor: pointer;
}
