<div class="row">
  <div class="col-12 mb-5">
    <h1>Dashboard</h1>
  </div>
  <div class="col-md-6 border-end">
    <div class="row">
      <div class="col-12 mb-3">
        <div class="simpleTask">
          <span class="primary-colo fw-bold">Tâches</span>
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item list-group-item-action"
              *ngFor="let task of tasks"
            >
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="{{ task.annotationNumber }}"
                />
                <label
                  class="form-check-label"
                  for="{{ task.annotationNumber }}"
                >
                  {{ task.label }}
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="folderTask mt-4">
          <span class="primary-colo fw-bold">Groupe de tâches</span>
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item list-group-item-action"
              *ngFor="let group of tasksGroup"
            >
              <em class="pi pi-folder"></em> {{ group.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-12 mb-3">
        <div class="simpleNote">
          <span class="primary-colo fw-bold">Notes</span>
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item list-group-item-action"
              *ngFor="let note of notes"
            >
              <em class="pi pi-file"></em> {{ note.label }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="folderNote">
          <span class="primary-colo fw-bold">Groupe de notes</span>
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item list-group-item-action"
              *ngFor="let group of notesGroup"
            >
              <em class="pi pi-folder"></em> {{ group.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
