<div class="border-end pt-5 vh-100">
  <ul class="list-group list-group-flush">
    <li
      class="list-group-item list-group-item-action d-flex align-items-center active"
    >
      <em class="pi pi-align-justify me-2"></em> Tout
    </li>
    <li class="list-group-item disabled mt-3">Tâches</li>
    <li
      class="list-group-item list-group-item-action d-flex align-items-center"
    >
      <em class="pi pi-check-circle me-2"></em> Toutes les tâches
    </li>
    <li
      class="list-group-item list-group-item-action d-flex align-items-center"
    >
      <em class="pi pi-clock me-2"></em> Aujourd'hui
    </li>
    <li
      class="list-group-item list-group-item-action d-flex align-items-center"
    >
      <em class="pi pi-calendar me-2"></em> Cette semaine
    </li>
    <li class="list-group-item disabled mt-3">Notes</li>
    <li
      class="list-group-item list-group-item-action d-flex align-items-center"
    >
      <em class="pi pi-file-edit me-2"></em> Mes notes
    </li>
  </ul>
</div>
