<div class="border-end pt-5 vh-100">
  <ul class="list-group list-group-flush">
    <li
      class="list-group-item list-group-item-action d-flex align-items-center"
      routerLink="/groups/all"
      routerLinkActive="active"
      (click)="putUrl('all')"
    >
      <em class="pi pi-align-justify me-2"></em> Tout
    </li>
    <li
      class="list-group-item list-group-item-action d-flex align-items-center"
      routerLink="/groups/recent"
      routerLinkActive="active"
      (click)="putUrl('recent')"
    >
      <em class="pi pi-clock me-2"></em>Récents
    </li>
    <li
      class="list-group-item list-group-item-action d-flex align-items-center"
      routerLink="/groups/important"
      routerLinkActive="active"
      (click)="putUrl('important')"
    >
      <em class="pi pi-star me-2"></em> Important
    </li>
    <li
      class="list-group-item list-group-item-action d-flex align-items-center"
      routerLink="/groups/archived"
      routerLinkActive="active"
      (click)="putUrl('archived')"
    >
      <em class="pi pi-folder-open me-2"></em> Archivé
    </li>
    <li
      class="list-group-item list-group-item-action d-flex align-items-center"
      routerLink="/groups/deleted"
      routerLinkActive="active"
      (click)="putUrl('deleted')"
    >
      <em class="pi pi-trash me-2"></em> Supprimés
    </li>
  </ul>
</div>
